footer {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.476);
  );
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer__contact {
  width: 50%;
  color: white;
  /* border-right: 0.1px dashed white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 1rem; */
  padding-left: 2rem;
}

.footer__contact ul {
  display: flex;
  padding: 0;
}

.footer__contact ul li {
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.footer__contact li i {
  color: black;
  font-size: 20px;
  text-align: center;
}

.footer__contact li a::before {
  content: "";
}
.footer__cp {
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__cp span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline;
  margin-left: 0.3em;
}

.footer__cp i {
  display: block;
  margin-left: 5px;
}

.footer__contact ul li i:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.footer__cp__content {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  .footer__contact {
    width: 100%;
    box-sizing: border-box;
  }
  .footer__cp span {
    font-size: 14px;
    margin-top: 5px;
  }
  .footer__cp {
    width: 100%;
    flex-direction: column;
  }

  .footer__contact ul {
    justify-content: center;
  }
}
